extends layout
block content
  h1= title
  p Welcome to the Restaurant 
  div(class="container-fluid")
        div(class="row")
            -
                let Restaurant = [
                    {
                        "Itemname": "Biryani",
                        "Quantity": 2,
                        "price": "Twentyone USD"
                    },
                    {
                        "Itemname": "Startus",
                        "Quantity": 6,
                        "price": "Thirty USD"
                    },
                    {
                        "Itemname": "mangolassi",
                        "Quantity": 2,
                        "price": "Ten USD"
                    },                   
                ]
            each q,index in Restaurant
                div(class="col-sm-2" onclick=`buy(${index})`) #{q.Itemname}
                div(class="col-sm-2" onclick=`buy(${index})`) #{q.Quantity}
                div(class="col-sm-2" onclick=`buy(${index})`) #{q.price}
  script.                
        function buy(intemNo)
        {
              alert(`you purchased Item ${intemNo+1}`)
        }