extends layout

block content
  h1= title
  p Welcome to the Restaurant pug 
  div(class="container-fluid")
        div(class="row")
            -
                let Restaurant = [
                    {
                        "Item name": "Biryani",
                        "Quantity": 2,
                        "cost": "Twenty Three USD"
                    },
                    {
                        "Item name": "Startus",
                        "Quantity": 3,
                        "cost": "Nineteen USD"

                    },
                    {
                        "Item name": "Mango lassi",
                        "Quantity": 1,
                        "cost": "Six USD"
                    },
                ]
                each x,index in Restaurant 
                    div(class="col-sm-2" onclick=`buy(${index})`) #{x.Itemname}
                    div(class="col-sm-2" onclick=`buy(${index})`) #{x.Quantity}
                    div(class="col-sm-2" onclick=`buy(${index})`) #{x.cost} 
    script.                  
          function buy(intemNo)
          {
                 alert(`you purchased Item ${intemNo+1}`)

          }                  